.textoEstudiantes{
    padding: 5px;
}
.estudiantesDestacados {
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: inline-block;
    color: #858585;
    margin: 0px;
    font-size: 10px;
}

.estudiante {
    list-style: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 1px;
}
.estudiante-usuario{
    list-style: none;
    border-left: 1px solid grey;
    display: inline-block;
}
.show-on-hover:hover > ul.dropdown-menu {
    display: inline-block;
    background-color: black;
    color: white;
}
.boton{
    display: inline-block;
}


