.navbar {
    background-color: #243A46;
    margin: 0%;
    width: 100%;
}                                                                                                                                                                                                                                                                     